body {
    color: white;
    background: #140A0C
}

.board {
    background: #151514;
    border: 1px solid #FC922A11;
    border-radius: 4px;
    margin: 0 16px;
    min-height: 400px;
    padding: 16px 16px;
}

.board h3 {
    padding: 16px;
    margin: 0;
    text-align: center;
}

.board .task-card {
    margin: 16px auto;
}

.floating-button{
    position:fixed;
    width:160px;
    height:60px;
    bottom:40px;
    
    right:40px;
    background-color: transparent;
    border-radius:20px;
    text-align:center;
    
    border: solid;
    border-color: darkseagreen;
    
    color: darkseagreen;
}

.floating-button:hover {
    color: white;
    background-color: darkseagreen;
    border: none;
}

.floating-button p {
    margin: auto;
}

.btn-delete-button, .btn-edit-button{
    background-color: transparent;
    border: none;
}

#label-todo {
    color: orange;
}

#label-doing {
    color: cornflowerblue;
}

#label-done {
    color: darkseagreen;
}

#label-archived {
    color: dimgray;
}


.makeVisible {
    animation: ease-out 2s;
    transition: opacity .2s;
    opacity: 1;
}

.makeInvisible {
    transition: opacity .2s, height 4s, z-index .2s;
    height: 0;
    opacity: 0;
    z-index: -100;
}


.task-card{
    background-color: #2a2a2a !important;
    padding: 16px;
    
}